@font-face {
    font-family: TildaSans;
    src: url(../fonts/TildaSans.ttf);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: TildaSans;
}
a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
input, button {
    outline: none;
    border: none;
    text-decoration: none;
}
h1,h2,h3 {
    -moz-user-select: none;
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;    
}
html,
body {
    height: 100%;
}
body {
    background-color: #FFFFFF;
    color: #000000;
}
body.noscroll {
	overflow: hidden;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main {
    flex: 1 1 auto;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.header {
    padding-bottom: 90px;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    height: 230px;
    padding: 0 20px;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-lang {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-logo {
    flex-basis: 60%;
    display: flex;
    justify-content: center;
}
.logo-img {
    width: 120px;
}

.header-button {
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    cursor: pointer;
}

.header-lang__item {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    opacity: 0.5;
    font-weight: 300;
    color: #000000;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.header-nav__item a {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #000000;
}
.header-nav__item a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 20%;
    opacity: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #c44320;
    -webkit-box-shadow: inset 0px -2px 0px 0px #c44320;
    -moz-box-shadow: inset 0px -2px 0px 0px #c44320;
    box-shadow: inset 0px -2px 0px 0px #c44320;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.header-nav__item:hover a:after {
    opacity: 1;
    bottom: -10%;
}



.main-form {
    padding-top: 30px;
    padding-bottom: 60px;
    background-color: #6cbcb8;
}

.fieldset {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 15px;
    transition: 400ms ease-in-out;
}

.fieldset.close {
    opacity: 0;
    height: 0;
}

.loading {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: .15rem solid rgba(0, 0, 0, 0.1);
    border-top-color: #000000;
    animation: spin 500ms infinite linear;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.message {
    max-width: 960px;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
    flex-basis: 100%;
    margin: 0 auto 30px auto;
    display: none;
}
.message.accept {
    background-color: #62C584;
    display: block;
}

.main-form__label {
    font-size: 20px;
    line-height: 1.55;
    color: #FFFFFF;
}
.select-container {
    position: relative;
}
.select-container:after {
    content: '';
    width: 0px;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #FFFFFF transparent transparent transparent;
    border-top-color: #FFFFFF;
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    pointer-events: none;
}

.main-form__select {
    display: block;
    width: 178px;
    height: 60px;
    border: 1px solid #FFFFFF;
    background-color: #6cbcb8;
    padding: 0 45px 0 20px;
    font-size: 16px;
    line-height: 1.33;
    color: #FFFFFF;
    appearance: none;
    -moz-appearance: none;
	-webkit-appearance: none;
    margin-top: 7px;
    position: relative;
    cursor: pointer;
}
.main-form__select::-ms-expand {
    display: none;
}
.main-form__select * {
    background-color: #6cbcb8;
    font-size: 16px;
    color: #FFFFFF;
}
.submit-button {
    text-align: center;
    height: 60px;
    width: 167px;
    border: 0 none;
    font-size: 16px;
    padding-left: 60px;
    padding-right: 60px;
    font-weight: 700;
    white-space: nowrap;
    cursor: pointer;
    background-color: #FFFFFF;
}
.submit-button.load {
    background-color: #F1F1F1;
}

.section-title {
    position: relative;
    font-size: 52px;
    line-height: 1.23;
    font-weight: 600;
    text-align: center;
    height: 132px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 45px;
    
}

.section-title:after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: #6cbcb8;
    width: 80px;
    height: 4px;
}

.section-bg {
    background-color: #dfdcd3;
    padding-top: 60px;
    padding-bottom: 105px;
}

.section-description {
    color: #000000;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.55;
    max-width: 760px;
    margin: 0 auto;
}
.section-description.center {
    text-align: center;
}
.section-description.padding {
    padding: 60px 0;
}

.section-button {
    height: 60px;
    display: block;
    font-size: 16px;
    padding-left: 60px;
    padding-right: 60px;
    max-width: 260px;
    color: #FFFFFF;
    background-color: #549c97;
    margin: 60px auto 0 auto;
    cursor: pointer;
}

.section-road {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    background-color: #000000;
}

.section-road__item {
    color: #FFFFFF;
    transition: 260ms ease-in-out;
    cursor: default;
    margin: 0 5px;
    font-weight: 300;
    font-size: 16px;
}
.section-road__item:hover {
    color: #9e9e9e;
}
.section-road__item::before {
    content: "→";
    color: #6ab3ad;
    margin-right: 5px;
}
.section-road .section-road__item:first-child::before {
    display: none;
}

.image-grid {
    width: 100%;
    max-width: 1920px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 0;
}

.image-grid__item {
    width: 100%;
    height: auto;
    max-height: 305px;
    transition: 200ms ease-in-out;
    cursor: zoom-in;
}
.image-grid__item:hover {
    transform: scale(1.06);
    box-shadow: 0 0 10px #000000;
}
.contacts-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 45px;
}
.section-subtitle {
    font-size: 42px;
    line-height: 1.23;
    font-weight: 600;
    margin-bottom: 45px;
}
.section-email, .section-phone {
    font-size: 26px;
    line-height: 1.5;
    font-weight: 300;
    color: #000000;
}
.section-adress {
    font-size: 18px;
    line-height: 1.55;
    font-weight: 300;
    margin-top: 35px;
    margin-bottom: 45px;
}
.footer-logo {
    width: 120px;
}
.footer {
    padding: 120px 0;
    background-color: #111111;
}
.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-nav__item {
    margin-bottom: 15px;
}
.footer-nav__item a{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

/******************************/
/**********Responsive**********/
/******************************/

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 960px) {
    
}

@media screen and (max-width: 480px) {
    
}